body {
    margin: 0;
    padding: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}